name: Check Image Build

on:
  pull_request:
    types: [opened, reopened, edited, synchronize]
    branches: [ "release/**", "develop", "v*" ]
    paths-ignore:
      - '.github/**'
      - '*.md'
      - 'deployment-examples/**'

jobs:
  changes:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: read
    outputs:
      frontend: ${{ steps.changes.outputs.frontend }}
      backend: ${{ steps.changes.outputs.backend }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - uses: dorny/paths-filter@v3
        id: changes
        with:
          filters: |
            frontend:
              - '**'
            backend:
              - 'backend/**'
  frontend:
    name: Check Standalone Frontend Build
    runs-on: ubuntu-latest
    needs: changes
    if: ${{ needs.changes.outputs.frontend == 'true' }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build Frontend Docker Image
        run: docker build . --file Dockerfile --tag justnz/justspace:frontend-test
  backend:
    name: Check Standalone Backend Build
    runs-on: ubuntu-latest
    needs: changes
    if: ${{ needs.changes.outputs.backend == 'true' }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build Backend Docker Image
        run: cd backend && docker build . --file Dockerfile --tag justnz/justspace:backend-test